.esqueceu-senha-3-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--cor-de-fundo-secundária);
  font-family: var(--fonte-principal);
  padding-bottom: 50px;
}

.banner-image-esqueceu3 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

}

.esqueceu-senha-3-formulario {
  width: 85%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.input-label {
  color: var(--ícone-header);
  font-weight: 700;
  font-size: 1.1rem;
  margin-bottom: 8px;
}

.input-field {
  width: 100%;
  height: 48px;
  border-radius: 12px;
  border: 1px solid var(--caixa-de-texto);
  font-size: 1rem;
  padding-left: 10px;
  margin-bottom: 25px;
  outline: none;
  color: var(--caixa-de-texto);
}

.input-field::placeholder {
  color: var(--texto-corpo);
  opacity: 25%;
}

.input-field:focus {
  border: 2px solid var(--ícone-header);
}

.btn-redefinir {
  width: 100%;
  background-color: var(--botao);
  color: var(--cor-de-fundo-secundária);
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  border-radius: 15px;
  padding: 14px 0;
  cursor: pointer;
  transition: 0.3s ease;
  margin-bottom: 60px;
}

.btn-redefinir:hover {
  background-color: var(--ícone-header);
}