@import url("../styles/styles.css");

header {
  width: 428px;
  background: var(--cor-de-fundo-primária);
  color: #006980;
  height: 70px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 16px;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.menu-icon {
  display: flex;
  align-items: center;
  gap: 5px;
}

.menu-icon-logo {
  width: 52px;
  height: 45px;
}

/* Ícones */
.menu-icon-menu,
.user-icons img {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.user-icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* MENU DROPDOWN */
.menu-dropdown {
  position: absolute;
  top: 70px;
  left: 0;
  width: 250px;
  background: #e9f8fb;
  color: #003b4d;
  box-shadow: 0 4px 10px rgba(0, 105, 128, 0.2);
  border-radius: 0 0 8px 8px;
  z-index: 10;
  padding: 10px 0;
}

.menu-dropdown ul {
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
}

.menu-dropdown li {
  width: 100%;
  padding: 12px 20px;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  color: #004c5f;
  transition: background 0.2s;
}

.menu-dropdown li:hover {
  background: #d0eef4;
  color: #007c91;
}

/* RESPONSIVIDADE */
@media (max-width: 428px) {
  header {
    width: 100%;
  }
}
