.hero-home {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

.image-home {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero_button {
  width: 85px;
  height: 23px;
  position: absolute;
  top: 110px;
  left: 52px;
  padding: 0;
  background-color: #38cac9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 8px;
  text-align: center;
  line-height: 23px;
  font-family: var(--fonte-principal);
  text-decoration: none;
  font-weight: 500;
  z-index: 2;
}

h2 {
  margin-top: 24px;
  margin-bottom: 24px;
  padding-left: 16px;
  font-family: var(--fonte-principal);
  font-weight: 600;
  font-size: 18px;
  color: var(--texto-título);
}

.funcionalidades_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;


  justify-content: space-around;

  gap: 16px;
  margin: 0 0 32px 5px;
  padding: 0 10px;
  list-style: none;
}

.funcionalidades_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  align-self: stretch;


  width: 22%;
  max-width: 100px;
  min-width: 70px;
}

.funcionalidades_item img {
  width: 50px;
  height: 50px;
}

.funcionalidades_item h3 {
  font-family: var(--fonte-principal);
  font-weight: 600;
  color: var(--texto-título);
  font-size: 12px;
  line-height: 1.2;
  margin: 8px 0 4px 0;
}

.funcionalidades_item p {
  font-family: var(--fonte-secundária);
  font-weight: 400;
  color: var(--texto-corpo);
  font-size: 9px;
  margin: 0;
  line-height: 1.4;
  text-align: center;
}

.funcionalidade_rodape {
  font-family: var(--fonte-secundária);
  font-weight: 600;
  text-align: center;
  font-size: 10px;
  color: var(--texto-corpo);
  margin: 0 16px 32px 16px;
}

.vantagens {
  background: var(--cor-de-fundo-primária);
  position: relative;
  padding-top: 24px;
  padding-bottom: 32px;
  overflow: hidden;
  height: auto;
}

.vantagens_conteudo {
  width: 60%;
  min-width: 250px;
  margin-left: 16px;
  z-index: 1;
}

.vantagens_image {
  width: 150px;
  height: 180px;
  position: absolute;
  bottom: 35px;
  right: 0;
  z-index: 0;
  object-fit: contain;
  opacity: 0.8;
}

.vantagens_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.vantagens_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  align-self: stretch;
  width: calc(33.33% - 11px);
  min-width: 70px;
}

.vantagens_item img {
  width: 50px;
  height: 50px;
  margin-bottom: 8px;
}

.vantagens_item h3 {
  font-family: var(--fonte-principal);
  font-weight: 600;
  color: var(--texto-título);
  font-size: 11px;
  line-height: 1.2;
  margin: 0 0 4px 0;
}

.vantagens_item p {
  font-family: var(--fonte-secundária);
  font-weight: 400;
  color: var(--texto-corpo);
  font-size: 9px;
  margin: 0;
  line-height: 1.4;
  text-align: center;
}

.missao {
  margin-bottom: 32px;
}

.missao h2 {
  color: var(--texto-título);
  font-family: var(--fonte-principal);
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  margin: 31px 0 14px 0;
  padding: 0;
}

.missao_container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  text-align: start;
  margin: 0;
  padding: 0;
  width: 100%;
}

.missao_text {
  width: 60%;
  padding-left: 13px;
  box-sizing: border-box;
}

.missao_container p {
  font-family: var(--fonte-secundária);
  font-weight: 500;
  color: var(--texto-título);
  font-size: 10px;
  line-height: 1.4;
  margin: 0 10px 16px 16px;
  padding: 0;
  width: calc(100% - 26px);
  box-sizing: border-box;
}

.missao_text_list {
  margin-left: 0;
  padding-left: 30px;
  width: auto;
  list-style-type: disc;
  flex-direction: column;
  gap: 4px;
  align-items: start;
  color: var(--texto-corpo);
  font-size: 8px;
  font-family: var(--fonte-secundária);
  font-weight: 400;
}

.missao_icon_list {
  list-style-type: none;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin: 15px 10px 0 44px;
  padding-left: 0;
  background: var(--cor-de-fundo-primária);
  box-sizing: border-box;
  padding: 20px 15px;
}

.missao_icon_list li {
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--texto-título);
  white-space: nowrap;
  font-size: 10.8px;
  font-family: var(--fonte-secundária);
}

.missao_icon_list img {
  width: 20px;
  height: 20px;
}

.impacto {
  padding: 0;
  background: var(--cor-de-fundo-primária);
}

.impacto_titulo {
  font-family: var(--fonte-principal);
  font-weight: 600;
  text-align: end;
  font-size: 18px;
  color: var(--texto-título);
  margin: 10px 0 24px 0;
  padding: 10px 16px;
}

.impacto_container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  gap: 16px;
}

.impacto_container img {
  width: 35%;
  height: auto;
  margin: 0;
  align-self: flex-end;
}

.impacto_list {
  width: 55%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 16px;
  margin: 0 16px 0 0;
  padding: 0 16px 0 0;
  list-style: none;
}

.impacto_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  align-self: stretch;


  width: 30%;
  min-width: 70px;
}

.impacto_item img {
  width: 50px;
  height: 50px;
  margin-bottom: 8px;
  align-self: center;
}

.impacto_item h3 {
  font-family: var(--fonte-principal);
  font-weight: 600;
  color: var(--texto-título);
  font-size: 11px;
  line-height: 1.2;
  margin: 0 0 8px 0;
}

.impacto_item p {
  font-family: var(--fonte-secundária);
  font-weight: 400;
  color: var(--texto-corpo);
  font-size: 7px;
  margin: 0;
  line-height: 1.4;
}

.banner-home {
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 32px;
  margin-bottom: 16px;
}

.banner_image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.banner_button {
  width: 120px;
  height: 32px;
  position: absolute;
  bottom: 57px;
  left: 60px;
  padding: 0;
  background-color: #009AAB;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  text-align: center;
  line-height: 32px;
  font-family: var(--fonte-principal);
  text-decoration: none;
  font-weight: 500;
  z-index: 2;
}

.faq_home {
  padding: 16px 16px 0 16px;
  background: white;
}

.faq_titulo {
  font-family: var(--fonte-principal);
  font-weight: 600;
  text-align: center;
  font-size: 18px;
  color: var(--texto-título);
  margin: 10px 0 24px 0;
  padding: 0;
}

.faq_accordion {
  background-color: white;
  color: var(--texto-título);
  cursor: pointer;
  padding: 16px 0;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 14px;
  transition: 0.4s;
  font-family: var(--fonte-principal);
  font-weight: 500;
  border-bottom: 1px solid #ddd;
}

.faq_accordion:last-of-type {
  border-bottom: none;
}

.faq_accordion.active,
.faq_accordion:hover {
  color: var(--texto-título);
}

.faq_accordion:after {

  content: '\203A';
  color: var(--texto-corpo);
  font-weight: 500;
  float: right;
  margin-left: 5px;
  font-size: 20px;
  transform: rotate(90deg);
  transition: transform 0.4s;
}

.faq_accordion.active:after {

  content: '\203A';
  transform: rotate(-90deg);
}

.faq_panel {
  padding: 0 0 0 0;
  background-color: var(--cor-de-fundo-secundária);
  max-height: 0;
  overflow: hidden;

  transition: max-height 0.2s ease-out;
}

.faq_panel p {

  font-family: var(--fonte-secundária);
  font-size: 12px;
  color: var(--texto-corpo);
  font-weight: 500;
  padding: 0 0 16px 0;
  margin: 0;
  line-height: 1.4;
}

.faq_panel.open {
  max-height: 500px;
}