.inicio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--fonte-principal);
    background-color: var(--cor-de-fundo-secundária);
    color: var(--texto-título);
}

.banner {
    margin: 0;
}

.banner-image {
    width: 100%;
    height: auto;
}

.btn-agendar {
    width: 135px;
    height: 30px;
    position: absolute; /* <--- Essencial para sobrepor */
    top: 160px; /* <--- Ajuste este valor em PX */
    left: 22px; /* <--- Ajuste este valor em PX */
    padding: 0;
    background-color: #359BC4;
    color: var(--cor-de-fundo-secundária);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    text-align: center;
    line-height: 23px;
    font-family: var(--fonte-principal);
    text-decoration: none;
    font-weight: 500;
    z-index: 2; /* Garante que o botão fique acima da imagem */
}

.btn-agendar:hover {
    background-color: #1387a8;
}

.banner-imagem img {
    width: 280px;
}

/* Saudação */
.saudacao {
    width: 90%;
    margin-top: 40px;
}

.saudacao h3 {
    font-size: 24px;
    font-weight: 700;
    color: var(--texto-título);
}

.saudacao span {
    color: var(--texto-título);
}

/* Opções principais */
.opcoes-container {
    display: grid;
    width: 80%;
    max-width: 900px;
    grid-template-columns: repeat(auto-fit, minmax(140px, auto));
    gap: 20px;
    margin-top: 30px auto;
    justify-content: center;
}

.opcao-card {
    background-color: var(--cor-de-fundo-secundária);
    border: 1px solid var(--caixa-de-texto);
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    width: 120px;
    padding: 15px 10px;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.opcao-card .icon img {
    width: 35px;
    height: auto;
    margin-bottom: 8px;
    display: block;
}

.opcao-card h4 {
    font-size: 10px;
    color: var(--texto-título);
    margin-bottom: 12px;
    font-weight: 600;
}

.opcao-card button,
.opcao-card a {
    background-color: var(--botao);
    color: var(--cor-de-fundo-secundária);
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 25px;
    font-size: 10px;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-family: var(--fonte-principal);
}

.card-duvidas{
    background-color: var(--cor-de-fundo-secundária);
    border: 1px solid var(--caixa-de-texto);
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    width: 120px;
    padding: 15px 10px;
    grid-column: 1 / -1;
    justify-self: center;
    align-items: center;
    color: var(--texto-título);
}

.card-duvidas .icon img{
    width: 35px;
    height: auto;
    margin-bottom: 8px;
    display: block;
}

.card-duvidas h4 {
    font-size: 10px;
    color: var(--texto-título);
    margin-bottom: 12px;
    font-weight: 600;
}

.card-duvidas button,
.card-duvidas a {
    background-color: var(--botao);
    color: var(--cor-de-fundo-secundária);
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 25px;
    font-size: 10px;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-family: var(--fonte-principal);
}


.opcao-card button:hover,
.opcao-card a:hover {
    background-color: var(--ícone-header);
}

/* Mensagem final */
.mensagem-final {
    width: 90%;
    margin-top: 40px;
    margin-bottom: 60px;
}

.mensagem-box {
    background-color: var(--caixa-de-dica);
    border-radius: 12px;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.mensagem-box img {
    width: 28px;
}

.mensagem-box p {
    font-size: 12px;
    color: var(--texto-título);
    line-height: 1.5;
}

