.login-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  background-color: var(--cor-de-fundo-secundária);
  font-family: var(--fonte-principal);
}

.login-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.login-user-icon {
  display: block;
  width: 120px;
  height: 120px;
  position: relative;
  margin-bottom: 20px;
}

.user-icon::before {
  content: "";
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 35%;
  height: 35%;
  border-radius: 50%;
  border: 8px solid var(--ícone-header);
}

.user-icon::after {
  content: "";
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 40%;
  border-bottom: 8px solid var(--ícone-header);
  border-radius: 50% 50% 0 0;
}

.login-form {
  width: 90%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
}

.login-label {
  font-weight: 700;
  color: var(--ícone-header);
  font-size: 1.2rem;
  margin-top: 20px;
  margin-bottom: 5px;
}

.login-input {
  padding: 14px;
  border-radius: 14px;
  border: 1px solid var(--caixa-de-texto);
  outline: none;
  font-size: 1rem;
}

.login-input::placeholder {
  color: var(--texto-corpo);
  opacity: 25%;
}

.login-checkbox {
  display: flex;
  align-items: center;
  margin-top: 15px;
  gap: 8px;
}

.login-checkbox label {
  color: var(--ícone-header);
  font-weight: 600;
  cursor: pointer;
}

.login-button {
  background-color: var(--botao);
  color: var(--cor-de-fundo-secundária);
  border: none;
  border-radius: 14px;
  padding: 14px 0;
  font-size: 1.3rem;
  font-weight: 700;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.2s;
}

.login-button:hover {
  background-color: var(--ícone-header);
}

.login-links {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.link {
  color: var(--ícone-header);
  text-decoration: none;
  font-weight: 600;
}